* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #000000;
}

#container {
    width: 1000px;
    height: 550px;
    background-image: url(../images/purpleCastle.jpg);
    background-size: cover;
    margin: 20px auto;
}

#calculator {
    width: 320px;
    height: 520px;
    background-color: #eaedef;
    margin: 0 auto;
    position: relative;
    top: 20px;
    border-radius: 25px;
}

#result {
    height: 120px;
}

#history {
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.75);
    font-weight: bold;
}

#output {
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
    font-weight: bold;
}

#keyboard {
    height: 400px;
}

.operator, .number, .empty {
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: 20px;
}

.number, .empty {
    background-color: #eaedef;
}

.number:hover {
    background-color: #cfcfcf;
}

.number, .operator {
    cursor: pointer;
}

.operator:active, .number:active {
    font-size: 14px;
}

.operator:focus, .number:focus, .empty:focus {
    outline: 0;
}

button:nth-child(4) {
    font-size: 20px;
    background-color: #20b2aa;
}

button:nth-child(8) {
    font-size: 20px;
    background-color: #ffa500;
}

button:nth-child(12) {
    font-size: 20px;
    background-color: #f08080;
}

button:nth-child(16) {
    font-size: 20px;
    background-color: #7d93e0;
}

button:nth-child(20) {
    font-size: 20px;
    background-color: #9477af;
}

button:nth-child(4):hover {
    background-color: #1f8f89;
}

button:nth-child(8):hover {
    background-color: #d48b04;
}

button:nth-child(12):hover {
    background-color: #b84a4a;
}

button:nth-child(16):hover {
    background-color: #44579c;
}

button:nth-child(20):hover {
    background-color: #6c478f;
}

